<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.survey.mapper.SurveyMapper">
    <insert id="createSurveyUseTitle" >
        insert into survey (title, description, creator_id)
        values (#{title}, #{description}, #{creatorId})
    </insert>
</mapper>